@charset "UTF-8";
/**
 * sherlock221b
 * rem常用设计函数
 */
/**
 * sherlock221b
 * 动画部分常用
 */
.s24 {
  width: 24px;
  height: 24px; }

.s32 {
  width: 32px;
  height: 32px; }

.s_arrow {
  width: 5px;
  height: 10px; }
  .s_arrow.blue polygon {
    fill: #b3e5fc; }
  .s_arrow.gray polygon {
    fill: #dddbdc; }

.logo {
  background-image: url("../imgs/logo-@2x.png");
  background-size: 60px 45px;
  width: 60px;
  height: 45px;
  margin-top: 15px; }

.s1_header_top {
  background-image: url("../imgs/s1_8_header_bg.png");
  width: 100%;
  height: inherit;
  background-size: 100% 100%; }

.welcome_img {
  background-image: url("../imgs/s1_24_welcome.png");
  background-size: 100% 100%;
  width: 11.05067rem;
  height: 4.032rem; }

.block {
  display: block; }

.ib {
  display: inline-block; }

.inline {
  display: inline; }

.text-center {
  text-align: center; }

.pos-rel {
  position: relative; }

.pd10 {
  padding: 10px; }

/** 针对webkit 多行文本显示...  **/
.multi-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.multi-2 {
  -webkit-line-clamp: 2; }

.multi-3 {
  -webkit-line-clamp: 3; }

.multi-4 {
  -webkit-line-clamp: 4; }

* {
  border-sizing: border-box; }

@font-face {
  font-family: 'lantinghei';
  src: url("../font/lth.ttf"); }
a {
  -webkit-tap-highlight-color: transparent;
  outline: none; }

md-list-item div {
  outline: none; }

html, body {
  font-family: "lantinghei";
  width: 100%;
  height: 500px;
  background: #f7f7f7;
  color: #333333;
  overflow: hidden;
  letter-spacing: 0.5px; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

.inh {
  height: inherit; }

a {
  color: #ffffff;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: inherit; }

.bg-accent {
  background: #e91e63; }

.bg-primary {
  background: #03a9f4; }

header.baymax-header {
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff; }
  header.baymax-header .logo-wrap {
    width: 76px;
    height: 76px;
    background-color: #22252a;
    line-height: 76px;
    text-align: center; }
  header.baymax-header .md-toolbar {
    height: 76px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); }
  header.baymax-header .header-notify {
    padding: 0 20px;
    padding-left: 0; }
    header.baymax-header .header-notify .notify-content {
      margin-bottom: 5px; }
      header.baymax-header .header-notify .notify-content h5 {
        margin: 0;
        font-size: 16px;
        margin-bottom: 2px;
        font-weight: 400; }
      header.baymax-header .header-notify .notify-content p {
        font-size: 14px;
        color: #666666; }
  header.baymax-header .user-info {
    width: 300px;
    padding-right: 20px; }
    header.baymax-header .user-info p {
      margin-left: 20px;
      font-size: 16px; }

.baymax-content {
  padding-left: 76px;
  padding-top: 76px;
  margin-bottom: 76px; }

nav.baymax-nav {
  width: 76px;
  height: inherit;
  background: #212429;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1); }
  nav.baymax-nav .nav-bottom {
    margin-bottom: 4px; }

.notify-main-layer .notify-list {
  padding: 0 17px; }
  .notify-main-layer .notify-list li {
    margin-bottom: 15px; }
    .notify-main-layer .notify-list li h5 {
      margin: 0; }

.baymax-tab {
  padding-top: 76px; }
  .baymax-tab li {
    margin-bottom: 4px; }
    .baymax-tab li a {
      display: block;
      position: relative;
      padding: 20px; }
      .baymax-tab li a.active .nav-icon {
        color: #08a8e2; }

.nav-icon-wrap {
  position: relative;
  padding: 20px;
  display: block; }

md-icon.nav-icon {
  color: #ffffff;
  cursor: pointer; }
  md-icon.nav-icon.gray {
    color: #787878; }
  md-icon.nav-icon:hover {
    color: #08a8e2; }

.head-img {
  border-radius: 100%; }

.circle-num {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  font-size: 10px;
  font-style: normal;
  text-align: center;
  line-height: 20px;
  color: #ffffff;
  -webkit-transform: scale(0.9);
  transform: scale(0.9); }
  .circle-num.small {
    -webkit-transform: scale(0.6);
    transform: scale(0.6); }
  .circle-num.right {
    right: -10px;
    top: -7px; }

.md-baymax-button {
  position: relative;
  width: 110px;
  height: 34px;
  line-height: 32px;
  min-height: 34px;
  background-color: none !important;
  box-shadow: none !important;
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 3px; }
  .md-baymax-button.md-primary {
    color: #03a9f4;
    border: 2px solid #03a9f4; }
  .md-baymax-button.md-weak {
    color: #bfbfbf;
    border: 2px solid #bfbfbf; }
  .md-baymax-button.md-weak:hover {
    background-color: #bfbfbf !important;
    color: #fff; }
  .md-baymax-button.md-primary:hover {
    background-color: #03a9f4 !important;
    color: #ffffff; }

.chatMainContent .chatMessage {
  padding: 30px  20px;
  color: #333333;
  overflow-y: auto; }
.chatMainContent .chatMessageList li {
  display: block;
  padding: 10px 0; }
.chatMainContent .user-message .head-img {
  border-radius: 100%; }
.chatMainContent .user-message p {
  position: relative;
  margin-left: 25px;
  background: #b3e5fc;
  font-size: 16px;
  border-radius: 2px;
  padding: 9px 20px;
  max-width: 75%; }
.chatMainContent .my-message .head-img {
  border-radius: 100%; }
.chatMainContent .my-message p {
  position: relative;
  margin-right: 25px;
  background: #dddbdc;
  font-size: 16px;
  border-radius: 2px;
  padding: 9px 20px;
  max-width: 75%; }
.chatMainContent .chatMessageForm {
  padding-bottom: 76px;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.1);
  background: #f1f1f1;
  padding-top: 15px; }
  .chatMainContent .chatMessageForm > section {
    padding-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px; }
  .chatMainContent .chatMessageForm .menu li a {
    display: inline-block;
    position: relative;
    padding: 10px; }

.chat-arrow-left {
  position: absolute;
  left: -5px;
  top: 14px; }

.chat-arrow-right {
  position: absolute;
  right: -5px;
  top: 14px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.chatUserList {
  box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.1);
  width: 300px;
  background: #f1eff0;
  height: 100%; }
  .chatUserList .md-list-item-text {
    margin-left: 20px; }
  .chatUserList md-list {
    overflow-y: scroll;
    height: inherit; }
  .chatUserList .chatUserItem {
    cursor: pointer; }
    .chatUserList .chatUserItem.active {
      background: #e1f5fe;
      border-left: 3px solid #0288d1; }
  .chatUserList .img-circle {
    position: relative; }
  .chatUserList .chatUserContent {
    height: inherit;
    background: inherit; }

/*# sourceMappingURL=all.css.map */
