@charset "UTF-8";
/**
 * sherlock221b
 * rem常用设计函数
 */
/**
 * sherlock221b
 * 动画部分常用
 */
.s24 {
  width: 24px;
  height: 24px; }

.s32 {
  width: 32px;
  height: 32px; }

.logo {
  background-image: url("../imgs/logo-@2x.png");
  background-size: 60px 45px;
  width: 60px;
  height: 45px;
  margin-top: 10px; }

.s1_header_top {
  background-image: url("../imgs/s1_8_header_bg.png");
  width: 100%;
  height: inherit;
  background-size: 100% 100%; }

.welcome_img {
  background-image: url("../imgs/s1_24_welcome.png");
  background-size: 100% 100%;
  width: 11.05067rem;
  height: 4.032rem; }

.block {
  display: block; }

.ib {
  display: inline-block; }

.inline {
  display: inline; }

.text-center {
  text-align: center; }

/** 针对webkit 多行文本显示...  **/
.multi-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.multi-2 {
  -webkit-line-clamp: 2; }

.multi-3 {
  -webkit-line-clamp: 3; }

.multi-4 {
  -webkit-line-clamp: 4; }

html, body {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  color: #333333; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

.inh {
  height: inherit; }

a {
  color: #ffffff;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: inherit; }

.bg-accent {
  background: #e91e63; }

.bg-primary {
  background: #03a9f4; }

header.baymax-header .md-toolbar-tools {
  height: 76px;
  max-height: 76px; }
header.baymax-header .md-toolbar {
  height: 76px;
  padding-left: 76px; }

.baymax-content {
  padding-left: 76px; }

nav.baymax-nav {
  width: 76px;
  height: 100%;
  background: #212429;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30; }

.circle-num {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  font-size: 10px;
  font-style: normal;
  text-align: center;
  line-height: 20px;
  color: #ffffff; }
  .circle-num.right {
    right: 11px;
    top: -7px; }

.chatMainContent .chatMessage {
  margin: 0 20px;
  color: #333333; }
.chatMainContent .chatMessageList li {
  display: block;
  padding: 15px 0; }
.chatMainContent .user-message .head-img {
  border-radius: 100%; }
.chatMainContent .user-message p {
  margin-left: 25px;
  background: #b3e5fc;
  font-size: 16px;
  border-radius: 3px;
  padding: 12px 20px; }
.chatMainContent .my-message .head-img {
  border-radius: 100%; }
.chatMainContent .my-message p {
  margin-right: 25px;
  background: #dddbdc;
  font-size: 16px;
  border-radius: 3px;
  padding: 12px 20px; }
.chatMainContent .chatMessageForm {
  background: #f1f1f1;
  padding-top: 15px; }
  .chatMainContent .chatMessageForm > section {
    padding-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px; }
  .chatMainContent .chatMessageForm .menu li a {
    display: inline-block;
    position: relative;
    padding: 10px; }

.chatUserList {
  width: 300px;
  background: #f1eff0;
  height: 100%; }
  .chatUserList .img-circle {
    position: relative; }
    .chatUserList .img-circle .head-img {
      margin-right: 20px; }
  .chatUserList .chatUserContent {
    height: inherit;
    background: inherit; }

/*# sourceMappingURL=all.css.map */
