.s24{
  width: 24px;
  height: 24px;
}

.s32{
  width: 32px;
  height: 32px;
}




.s_arrow{
  width: 5px;
  height: 10px;

  &.blue{
      polygon{
        fill: #b3e5fc;
      }
  }

  &.white{
    polygon{
      fill: #fff;
    }
  }

  &.gray{
    polygon{
      fill: #dddbdc;
    }
  }
}