
//背景颜色
.bg-light-green{
  background: #90c124;
}
.bg-green{
  background: #5fc124;
}

.bg-light-red{
  background: #ff4600;
}

.bg-light-purple{
  background: #cf2cb2;
}

.bg-light-yellow{
  background: #ffcd2d;
}

.bg-light-blue{
  background: #60a5f4;
}
.bg-light-og{
  background: #f67900;
}