//图标

.icon{
  background-image: url("../imgs/icon.png");
  background-size: rem(800) rem(800);
}


$iconWidth : rem(72);
$iconHeight : rem(78);

.icon-house{
  background-position:  0 0;
  width: $iconWidth;
  height: $iconHeight;
}

.icon-door{
  background-position:  0 rem(-80);
  width: $iconWidth;
  height: $iconHeight;
}

.icon-hand{
  background-position:  0 rem(-160);
  width: $iconWidth;
  height: $iconHeight;
}

.icon-family{
  background-position:  0 rem(-240);
  width: $iconWidth;
  height: $iconHeight;
}

.icon-puzzle{
  background-position:  0 rem(-320);
  width: $iconWidth;
  height: $iconHeight;
}
.icon-share{
  background-position:  0 rem(-400);
  width: $iconWidth;
  height: $iconHeight;
}

.icon-treatment{
  background-position:  0 rem(-480);
  width: $iconWidth;
  height: $iconHeight;
}


.icon-compass{
  background-position:  0 rem(-560);
  width: $iconWidth;
  height: $iconHeight;
}

.icon-telbook{
  background-position:  0 rem(-640);
  width: $iconWidth;
  height: $iconHeight;
}

.icon-letter{
  background-position:  0 rem(-720);
  width: $iconWidth;
  height: $iconHeight;
}

.icon-teacher{
  background-position:  rem(-72) rem(-80);
  width: $iconWidth;
  height: $iconHeight;
}



.phone-img{
  background-position:  rem(-764) 0;
  width: rem(36);
  height: rem(36);
}

.location-img{
  background-position:  rem(-764) rem(-36);
  width: rem(36);
  height: rem(38);
}

.arrow-right{
  background-position:  rem(-787) rem(-74);
  width: rem(14);
  height: rem(24);
}

