.s1_header_top{
  background-image: url("../imgs/s1_8_header_bg.png");
  width: 100%;
  height: inherit;
  background-size:100% 100%;
}


.welcome_img{
  background-image: url("../imgs/s1_24_welcome.png");
  background-size:100% 100%;
  width: rem(518);
  height: rem(189);
}

