@charset "UTF-8";

html,body{
  background: #e2f4ff;
}

a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
h1,h2,h3,h4,h5{
  margin: 0;
  font-weight: normal;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

p{
  margin: 0;
  display: block;
}
.pos-rel{
  position: relative;
}



.skin-s1{
  .content{
    position: relative;
    z-index: 2;
    padding: 0 rem(24);
  }
}

footer.fix-bottom{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}


header.fix-top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}





//参考的距离
.mt-content-index{
    margin-top: rem(68);
}
.mt-content-list{
  margin-top: rem(34);
}
