

<div layout="row" class="inh">

    <div class="chatMainContent inh" flex  layout="column" >


        <!-- 聊天 -->
        <div class="chatMessage "  scroll-glue  flex >
            <ul class="chatMessageList">

                <li ng-repeat=" msg in  currentUser.message"  >

                            <!-- 收 -->
                            <div   layout="row" class="user-message"  layout-align="start start"    ng-if=" msg.csMsgSendType == 'receive'  ">
                                <img ng-src="{{::currentUser.attribute | userHead}} "  width="40" height="40"  class="head-img" />

                                <div   class="user-message-content">
                                    <md-icon  md-svg-icon="arrow-left"   class="s_arrow blue chat-arrow-left" ></md-icon>
                                        <!--显示图片 -->
                                        <div ng-if="msg.msgType == 'img' ">
                                            <img ng-src="{{msg.img.picUrl}}" class="user-message-img-size"    />
                                        </div>
                                        <!-- 显示音频 -->
                                        <div ng-if="msg.msgType == 'voice' ">

                                            <!--<audio-cus url="{{msg.voice.voiceUrl}}"  auto="true"></audio-cus>-->
                                            <audio src="{{msg.voice.voiceUrl}}"  controls ></audio>
                                            <!--{{msg.voice.voiceUrl}}-->
                                        </div>

                                        <!-- 显示文字 -->
                                        <p ng-if="msg.msgType == 'txt' " ng-bind-html="::msg.msgContent | emojiRender | trustHtml"></p>

                                </div>
                            </div>


                           <!-- 发 -->
                            <div ng-if=" msg.csMsgSendType == 'send' " layout="row" class="my-message" layout-align="end start">
                                <md-progress-circular   ng-if="msg.sendStatus == 'running' "  class="md-primary sendProgress"  md-mode="indeterminate"  ></md-progress-circular>
                                <div class="user-message-content">
                                    <md-icon  md-svg-icon="arrow-left"   class="s_arrow gray chat-arrow-right" ></md-icon>

                                    <!--显示图片 -->
                                    <div ng-if="msg.msgType == 'img' ">
                                        <img ng-src="{{msg.img.picUrl}}" class="user-message-img-size"    />
                                    </div>

                                    <!-- 显示文字 -->
                                    <p ng-if="msg.msgType == 'txt' " ng-bind-html="::msg.msgContent | emojiRender | trustHtml"></p>

                                </div>


                                <img  ng-src="imgs/head.png"  width="40" height="40"  class="head-img" />
                            </div>
                </li>

            </ul>




        </div>



        <!-- 提交表单 -->
        <div class="chatMessageForm">
            <div class="emoji-wrap" ng-if="emojiToggle"  ng-mouseleave="closeEmoji();">
                <md-icon  md-svg-icon="arrow-left"   class="s_arrow white chat-arrow-bottom" ></md-icon>
                <ul class="emoji-list">
                    <li ng-repeat="emoji in EmojiConstants.object">
                        <a href="javascript:void(0);" ng-click="emojiSelect(emoji)">
                            <img ng-src="{{::emoji.value}}" alt="{{::emoji.key}}" class="emoji-img" />
                        </a>
                    </li>
                </ul>
            </div>
            <section  ng-if="currentUser.userId">
                <div layout="row" layout-align="start center">
                    <ul class="menu" layout="row" flex>
                        <li>
                            <a href="javascript:void(0)"  ng-mouseenter="openEmoji();"   md-ink-ripple="#03a9f4" md-ink-ripple-checkbox >
                                <md-icon  md-svg-icon="face"   class="s24 nav-icon gray"   ></md-icon>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" md-ink-ripple="#03a9f4" md-ink-ripple-checkbox   ngf-select     ngf-change="sendFileMessage($files,$event,'img')" >
                                <md-icon  md-svg-icon="picture"   class="s24 nav-icon gray"   ></md-icon>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"  ng-click="stopConnect($event)" md-ink-ripple="#03a9f4" md-ink-ripple-checkbox >
                                <md-icon  md-svg-icon="break"   class="s24 nav-icon gray"   ></md-icon>
                            </a>
                        </li>

                    </ul>

                   <md-button    ng-click="sendMessage();"  md-ink-ripple="#fff" class= "md-baymax-button md-primary">发&nbsp;送</md-button>
                </div>

                <div layout="row" layout-align="start center">

                    <md-input-container flex>
                        <label>输入内容....</label>

                        <input ng-model="messageTemp.message"    ng-keypress="enter($event)"  focus-on="awesome" />
                    </md-input-container>

                </div>



            </section>

        </div>

    </div>


    <!-- 用户列表-->
    <div class="chatUserList"  data-ng-include=" 'tpl/tab/chat-user.html' " ></div>


</div>






<!--<md-button  class="md-accent">Primary (md-noink)</md-button>-->

<!--<md-input-container flex class="">-->
    <!--<label>Address</label>-->
    <!--<input ng-model="user.address">-->
<!--</md-input-container>-->

<!--<h1>通知</h1>-->
<!--<ul ng-repeat="user  in newUserList">-->
    <!--<li>-->
        <!--<a href="javascript:void(0)"  ng-click="connect(user)" style="display: block">-->
                <!--{{user.userId}}-->
        <!--</a>-->
    <!--</li>-->

<!--</ul>-->


<!--<h1>已建立链接</h1>-->
<!--<ul ng-repeat="user  in connectUserList">-->
    <!--<li>-->
        <!--<a href="javascript:void(0)"  ng-click="showChat(user)" style="display: inline-block;">-->
            <!--{{user.userId}}-->
        <!--</a>-->

        <!--<a ng-click="shutdown(user)" class="" style="display: inline-block;">结束链接</a>-->
    <!--</li>-->

<!--</ul>-->

<!--<div style="border : 1px solid #c0c0c0;  ">-->
    <!--<ul>-->
        <!--<li ng-repeat="content in contentList">-->
            <!--{{content.message}}-->
            <!--<br/>-->
            <!--{{content.messageTime}}-->
            <!--<br/>-->
            <!--<br/>-->
        <!--</li>-->
    <!--</ul>-->

<!--</div>-->


<!--<div>-->

    <!--<input type="text"  name="message"    ng-model="message" required />-->
    <!--<button type="button" ng-click="sendMessage()">发送消息</button>-->

<!--</div>-->


